.updateTitle {
  padding-bottom: 20px;
}

.inputL {
  width: 49%;
  margin-right: 1%;
}

.DayInputContainer {
  display: inline-block;
  width: 49%;
  margin-left: 1%;
}

.inputR {
  width: 49%;
  margin-left: 1%;
}

.oldImageContainer {
  padding: 2em 0;
}

.oldImagePreview {
  width: 25%;
  margin-bottom: 1em;
}

.imagePreview {
  width: 25%;
  margin-bottom: 1em;
}

.uploadImageButton {
  margin: 40px 5% 10px;
  width: 40%;
  display: inline-block;
}

.updateButton {
  margin: 40px 5% 10px;
  width: 40%;
  display: inline-block;
}
