.secondaryNav {
  width: 100%;
  font-family: var(--font-family-sans);
  font-variant: small-caps;
  font-size: var(--font-size-current-title);
  background-color: var(--color-xxlight);
  height: 55px;
  line-height: 55px;
  z-index: 1001;
}

.secondaryNav.sticky {
  position: fixed;
  top: 36px;
}

.secondaryNav ul {
  position: relative;
  width: var(--max-content-width);
  height: 55px;
  margin: 0 auto;
}

.secondaryNav li {
  left: 50%;
  position: absolute;
  top: 0;
  height: 55px;
}

.secondaryNav li:first-child {
  left: 0;
  text-align: right;
  width: 50%;
}

.liHome {
  margin-left: -20px;
  width: 40px;
}

.liHome a {
  width: 40px;
  display: block;
}

.secondaryNav li:last-child {
  text-align: left;
  width: 50%;
}

.secondaryNav li:first-child .link {
  margin-right: 40px;
}

.secondaryNav li:last-child .link {
margin-left: 43px;
}

.shadow {
  position: absolute;
  display: none;
  top: 55px;
  left: 50%;
  margin-left: -270px;
  height: 10px;
  width: var(--max-content-width);
  z-index: 0;
  transition: top ease-in-out .35s;
}

.secondaryNav.sticky .shadow{
  display: block;
}
