.secondaryNav {
  width: 100%;
  font-family: var(--font-family-sans);
  font-variant: small-caps;
  font-size: var(--font-size-current-title);
  background-color: var(--color-xxlight);
  height: var(--nav-2-height);
  line-height: var(--nav-2-height);
  z-index: 1001;
}

.secondaryNav.sticky {
  position: fixed;
  top: var(--red-line-nav-1-height);
}

.secondaryNav ul {
  position: relative;
  width: 100%;
  height: var(--nav-2-height);
  margin: 0 auto;
  border-bottom: 1px solid var(--color-light);
}

@media (--sm) {
  .secondaryNav ul {
    width: var(--max-content-width);
  }
}


.secondaryNav li {
  left: 50%;
  position: absolute;
  top: 0;
}

.secondaryNav li:first-child {
  left: 0;
  text-align: right;
  width: 50%;
}

.liHome {
  z-index: 1005;
  margin-left: -20px;
  width: 40px;
}

.liHome a {
  width: 40px;
  display: block;
}

.secondaryNav li:last-child {
  text-align: left;
  width: 50%;
}

.secondaryNav li:first-child .link {
  margin-right: 40px;
}

.secondaryNav li:last-child .link {
  margin-left: 43px;
}

.shadow {
  position: absolute;
  display: none;
  top: var(--nav-2-height);
  left: 50%;
  margin-left: -270px;
  height: 10px;
  width: var(--max-content-width);
  z-index: 0;
  transition: top ease-in-out 0.35s;
}

.secondaryNav.sticky .shadow {
  display: block;
}
