.container {
  text-align: center;
  margin-top: 8px;
}

.title {
  font-size: 2.5em;
  font-variant: small-caps;
  text-align: center;
  margin: 0;
  height: 100px;
  line-height: 100px;
}

.primaryNav {
  width: 100%;
  height: 29px;
  line-height: 29px;
  background-color: var(--color-xxlight);
  z-index: 1002;
  font-size: var(--font-size-nav);
  font-variant: small-caps;
}

.primaryNav .link:hover {
  color: var(--link-color-dark);
}

.primaryNav.sticky {
  position: fixed;
  background-color: var(--color-xlight);
  border-bottom: 1px solid var(--color-light);
  top: 8px;
}

.primaryNav li {
  margin: 0 15px;
  display: inline-block;
}

.primaryNav .link {
  height: 28px;
  color: var(--color-xdark);
  display: inline-block;
}

.primaryNav .link.active {
  border-bottom: 3px solid var(--link-color-dark);
}




.intro {
  padding: 5em 0;
  display: inline-block;
  vertical-align: baseline;
  max-width: 490px;
}

.introSticky {
  margin-top: 30px;
}





.secondaryNav {
  width: 100%;
  font-family: var(--font-family-sans);
  font-variant: small-caps;
  font-size: var(--font-size-current-title);
  background-color: var(--color-xxlight);
  height: 55px;
  line-height: 55px;
  z-index: 1001;
}

.secondaryNav.sticky {
  position: fixed;
  top: 38px;
}

.secondaryNav ul {
  position: relative;
  width: 540px;
  height: 54px;
  margin: 0 auto;
  border-color: var(--color-light);
  border-bottom: 1px solid transparent;
  transition: border-bottom ease-in-out .35s;
}

.secondaryNav.sticky ul {
  border-color: var(--color-light);
}

.secondaryNav li {
  left: 50%;
  position: absolute;
  top: 0;
  height: 55px;
}

.secondaryNav li:first-child {
  left: 0;
  text-align: right;
  width: 50%;
}

.liHome {
  margin-left: -20px;
  width: 40px;
}

.liHome a {
  width: 40px;
  display: block;
}

.secondaryNav li:last-child {
  text-align: left;
  width: 50%;
}

.secondaryNav .link {
  display: inline-block;
}

.secondaryNav .link:hover {
  color: var(--color-xdark);
}

.secondaryNav li:first-child .link {
  margin-right: 40px;
}

.secondaryNav li:last-child .link {
  margin-left: 47px;
}





.shadow {
  position: absolute;
  display: none;
  top: 55px;
  left: 50%;
  margin-left: -270px;
  height: 10px;
  width: 540px;
  z-index: 0;
  transition: top ease-in-out .35s;
}

.secondaryNav.sticky .shadow{
  display: block;
}
