.container {
  position: relative;
  text-align: center;
  z-index: 1000;
  width: 100%;
}

.title {
  text-align: center;
  margin: 0;
  height: 50px;
}

.nav {
  width: 100%;
}

.primaryNav {
  height: 30px;
  line-height: 30px;
  background-color: var(--color-xlight);
  z-index: 1002;
}

.primaryNav.sticky {
  position: fixed;
  top: 0;
}

.primaryNav li, .secondaryNav li {
  display: inline;
}

.intro {
  height: 100px;
}

.introSticky {
  margin-top: 30px;
}

.secondaryNav {
  height: 58px;
  line-height: 58px;
  background-color: var(--color-xlight);
  z-index: 1001;
}

.secondaryNav.sticky {
  position: fixed;
  top: 30px;
}

.secondaryNav ul {
  position: relative;
  width: 540px;
  height: 58px;
  margin: 0 auto;
  border-color: var(--color-light);
  border-bottom: 1px solid transparent;
  transition: border-bottom ease-in-out .35s;
}

.secondaryNav.sticky ul {
  border-color: #d9d9d9;
}

.secondaryNav li {
  left: 50%;
  position: absolute;
  top: 0;
  height: 50px;
}

.secondaryNav li:first-child {
  left: 0;
  text-align: right;
  width: 50%;
  height: 50px;
}

.liHome {
  margin-left: -25px;
  width: 50px;
}

.secondaryNav li:last-child {
  text-align: left;
  width: 50%;
  height: 50px;
}

.secondaryNav li:first-child .link {
  margin-right: 30px;
}

.secondaryNav li:last-child .link {
  margin-left: 30px;
}

.link {
  padding: 0 5px;
  font-size: var(--font-size-nav);
  font-variant: small-caps;
}


.link:hover,
.link:active,
.active {
  border-bottom: 1px solid;
}

.active:hover {
  transform: scale(1.15);
}

.linkHome:hover {
  transform: scale(1.2, 1.1);
  transform-origin: left;
  transition: all 1.2s ease;
}

.shadow {
  position: absolute;
  display: none;
  top: 48px;
  left: 50%;
  margin-left: -270px;
  height: 10px;
  width: 540px;
  z-index: 0;
  transition: top ease-in-out .35s;
}

.secondaryNav.sticky .shadow{
  display: block;
  top: 58px;
}
