.container,
.homeContainer {
  box-sizing: border-box;
  min-height: 50px;
  padding: 1.2rem 0.2rem 0.8rem 3rem;
  text-align: right;
  z-index: 1;
  background-color: var(--color-xdark);
}

.container h1,
.homeContainer h1 {
  font-size: var(--font-size-header-sm-mobile);
  font-weight: lighter;
  color: var(--color-light);
  margin: 0;
  letter-spacing: 0.9rem;
}

@media (--sm) {
  .container,
  .homeContainer {
    padding: 1.6em 0;
  }

  .container h1,
  .homeContainer h1 {
    letter-spacing: 2rem;
    font-size: var(--font-size-header-md-mobile);
  }
}

@media (--md) {
  .homeContainer,
  .container {
    position: fixed;
    padding-left: var(--side-padding);
    width: 100%;
    background: none;
    text-align: left;
    z-index: 1;
  }

  .container {
    background-color: rgba(0, 0, 0, 0.4);
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.2));
    transition: all 2s ease;
  }

  .homeContainer h1 {
    color: var(--color-dark);
    margin: 1.2em 0;
  }

  .homeContainer h1,
  .container h1 {
    margin: 0.67em 0;
    padding-left: unset;
    letter-spacing: 2.2rem;
    transition: all 2s ease;
  }

  .sticky {
    padding-left: 5.5em;
    padding-right: 0;
    width: 50%;
    background: transparent;
    transform-origin: left;
    transform: scale(0.7, 0.7);
    transition: all 2s ease;
  }

  .sticky h1 {
    color: var(--color-light-brown);
    letter-spacing: 2rem;
  }
}
