.footer {
  background: var(--color-xxlight);
}

.container {
  color: var(--color-xxdark);
  padding: 1em 0 0.4em;
  text-align: center;
  max-width: var(--max-content-width);
  margin: auto;
  border-top: 1px solid var(--color-light);
}

.text {
  padding: 3em 0 2em;
}

.text span {
  display: block;
  font-size: var(--font-size-minus);
}

.link {
  display: block;
  font-size: var(--font-size-current-plus);
  padding: 1.2em 0;
}

.link:hover,
.homeLink:hover {
  color: var(--color-xdark);
}

.dot {
  display: none;
}

@media (--sm) {
  .container {
    padding: 1.5em 0;
  }

  .link {
    display: inline;
    padding: 2px 5px;
  }

  .dot {
    display: initial;
  }
}
