.footer {
  background: var(--color-xxlight);
}

.container {
  color: var(--color-xdark);
  border-top: 1px solid var(--color-light);
  padding: 1.5em 0;
  text-align: center;
  max-width: var(--max-content-width);
  margin: auto;
}

.text {
  padding: 3em 0 2em;
}

.text span {
  display: block;
  font-size: var(--font-size-current);
}

.link {
  display: inline;
  padding: 4px 8px;
  font-size: var(--font-size-current-plus);
}

.dot {
  display: initial;
}
