.addContainer {
  padding: 15px 0;
}

.imagePreview {
  width: 25%;
  margin-bottom: 1em;
}

.inputL {
  width: 49%;
  margin-right: 1%;
}

.inputR {
  width: 49%;
  margin-left: 1%;
}

.DayInputContainer {
  display: inline-block;
  width: 49%;
  margin-left: 1%;
}

.adminButton {
  width: var(--admin-button-width);
  display: inline-block;
  margin: 2em 1em;
}
