.container {
  font-size: var(--font-size-current);
}

.nodejsLogo {
  max-height: 25px;
  padding: 0 0.5em;
}

.reactLogo,
.graphqlLogo,
.appleLogo {
  max-height: 18px;
  padding: 0 0.5em;
}

.appleLogo {
  padding-bottom: 4px;
}
