.container {
  font-size: var(--font-size-current);
}

.nodejsLogo {
  height: 25px;
  width: auto;
  padding: 0 0.5em;
}

.reactLogo,
.graphqlLogo,
.appleLogo {
  height: 18px;
  width: auto;
  padding: 0 0.5em;
}

.appleLogo {
  padding-bottom: 4px;
}
