.addContainer {
  padding: 3em 0 4em;
  box-sizing: border-box;
  text-align: center;
}

@media (--lg) {
  .addContainer {
    padding-left: 2em;
    padding-right: 2em;
  }
}

.title {
  font-size: var(--font-size-nav)
}

.image {
  max-width: 52vw;
  max-height: 52vh;
}

.fileLabel:hover {
  color: var(--link-color-xdark);
}

.fileButton {
  display: none;
}

.adminButton {
  width: var(--admin-button-width);
}

.imagePreview {
  width: 100%;
  margin-bottom: 1em;
}
