.main {
  text-align: center;
  padding-top: 140px;
  padding-bottom: 3em;
  margin: auto;
}

.mainHome {
  height: 100vh;
  text-align: center;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}

.sticky {
  margin-top: 55px;
}
