.main,
.mainHome {
  padding:
    var(--main-top-padding-mobile) var(--main-side-padding-mobile)
    var(--mainHome-bottom-padding);
  box-sizing: border-box;
  text-align: center;
}

.mainHome {
  background-image: url('/images/miscellaneous/home-portrait.jpg');
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (--sm) {
  .main {
    padding:
      var(--main-top-padding-mobile) var(--main-side-padding)
      var(--main-bottom-padding);
  }

  .mainHome {
    padding:
      var(--main-top-padding-mobile) var(--mainHome-side-padding)
      var(--mainHome-bottom-padding);
  }
}

@media (--md) {
  .main {
    margin-left: var(--aside-width-md);
    padding-top: var(--main-top-padding);
  }

  .mainHome {
    padding:
      var(--main-top-padding) var(--mainHome-side-padding)
      var(--mainHome-bottom-padding);
  }
}

@media (--lg) {
  .mainHome {
    background-image: url('/images/miscellaneous/home-landscape.jpg');
  }
}

@media (--xlg) {
  .mainHome {
    padding:
      var(--main-top-padding) var(--main-side-padding-large)
      var(--mainHome-bottom-padding);
  }

  .main {
    padding:
      var(--main-top-padding) var(--main-side-padding-large)
      var(--main-bottom-padding);
    margin-left: var(--aside-width);
  }
}

