.adminNav {
 position: fixed;
  margin-left: -160px;
  top: 150px;
  text-align: right;
  width: 150px;
}

.adminNav a {
  font-size: var(--font-size-current-plus-plus);
  font-variant: small-caps;
}

.active {
  font-weight: bold;
  color: var(--color-xdark);
}

