.itemContainer {
  padding: 4em 0;
}

.itemTitle {
  font-size: var(--font-size-nav);
  margin: 0 0 0.1em;
}

.email {
  display: none;
}

  .noWrap {
    display: inline;
    white-space: pre;
  }

  .spacer {
    display: inline;
    padding: 0 15px;
  }
