.container {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: flex-end;
}

.content {
  background-color: rgba(0, 0, 0, 0.5);
  color: var(--color-xlight);
  padding: 0 1em;
  font-size: var(--font-size-current-plus);
  letter-spacing: 0.25em;
}
