.container {
  position: relative;
  width: 75vw;
  height: 35vh;
  margin: 0 auto;
}

.image {
  object-fit: contain;
  object-position: top;
  box-sizing: border-box;
}

@media (--sm) {
  .container {
    width: var(--max-content-width);
    height: 45vh;
  }
}
