.link {
  display: block;
  font-size: var(--font-size-current-plus);
  padding: 0.4em 0;
}

@media (--sm) {
  .link {
    display: inline;
    padding: 2px 5px;
  }

  .link:hover {
    color: var(--color-xdark);
  }
}
