.noSculptureButton,
.sculptureButton {
  padding: 0.2em;
  background-color: unset;
  border: none;
  cursor: pointer;
  margin: 0 auto;
}

.image {
  max-width: 100%;
  max-height: 45vh;
}

@media (--sm) {
  .image {
    max-width: 70%;
    max-height: 65vh;
  }

  .sculptureButton {
    display: inline-block;
    max-width: 50%;
  }

  .sculptureButton .image {
    max-width: 100%;
    max-height: 35vh;
  }
}

@media (--md) {
  .sculptureButton .image {
    max-height: 25vh;
  }
}

@media (--lg) {
  .image {
    max-width: 35vw;
    max-height: 55vh;
  }

  .sculptureButton .image {
    max-height: 55vh;
  }
}

@media (--xlg) {
  .image {
    max-width: 32vw;
  }

  .sculptureButton .image {
    max-width: 25vw;
    max-height: 45vh;
  }
}
