.noSculptureButton,
.sculptureButton {
  position: relative;
  display: block;
  width: 75vw;
  height: 35vh;
  margin: 0 auto;
  background-color: unset;
  border: none;
  cursor: pointer;
}

.image {
  object-fit: contain;
  object-position: top;
  box-sizing: border-box;
  padding: 2px;
}

@media (--sm) {
  .noSculptureButton {
    width: var(--max-content-width);
    height: 55vh;
  }

  .sculptureButton {
    display: inline-block;
    width: var(--max-content-half-width);
    height: 40vh;
    max-width: 50%;
  }
}
