.noSculptureButton,
.sculptureButton {
  background-color: unset;
  border: none;
  cursor: pointer;
  margin: 0 auto;
  padding: 2px;
}

.LandscapeImage {
  width: 75vw;
  height: auto;
}

.portraitImage {
  width: auto;
  height: 35vh;
}

@media (--sm) {
  .sculptureButton {
    display: inline-block;
    max-width: 49%;
  }

  .sculptureButton .LandscapeImage,
  .sculptureButton .portraitImage {
    width: 100%;
    height: auto;
  }

  .noSculptureButton {
    width: var(--max-content-width);
    padding: 2px 8px;
  }

  .noSculptureButton .portraitImage {
    width: auto;
    height: 55vh;
  }

  .noSculptureButton .LandscapeImage {
    width: 100%;
    height: auto;
  }
}
