.link {
  padding: 2px 5px;
  font-size: 1em;
}

.link,
.link:active,
.link:visited {
  text-decoration: none;
}

.link:hover {
  color: var(--color-light);
}

.loginLink {
  padding: 2px 5px;
  font-size: 1em;
  font-weight: 100;
  color: var(--link-color);
  display: inline-block;
  background: none;
  border: none;
  width: inherit;
  line-height: inherit;
  cursor: pointer;
  transition: color 0.5s;
}

.loginLink:hover {
  color: var(--color-light);
  transition: color 0.5s;
}
