.addContainer {
  padding: 3em 0 4em;
  box-sizing: border-box;
  text-align: center;
}

.image {
  display: block;
  max-width: var(--max-content-width);
  max-height: 60vh;
  margin: auto;
}

.fileLabel:hover {
  color: var(--link-color-dark);
}

.fileButton {
  display: none;
}

.adminButton {
  width: var(--admin-button-width);
}

.imagePreview {
  max-width: var(--max-content-width);
  max-height: 60vh;
  margin: auto;
}
