.container {
  position: fixed;
  top: 8px;
  height: 32px;
  width: 32px;
  background: none;
  border: none;
  margin: 0;
  padding: 8px;
  z-index: 3;
  cursor: pointer;
}

@media (--sm) {
  .container {
    top: 16px;
    left: 12px;
  }
}
