.container {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 250px;
  background-color: black;
  opacity: 0.9;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
  overflow: auto;

  .menuList {
    padding: 6rem 3rem 0;
  }

  .item {
    display: block;
    padding: 1.7rem 0;
  }

  .navHomeLink {
    display: block;
    padding-top: 4rem;
  }

  .name {
    padding-top: 20vh;
    text-align: center;
    font-size: var(--font-size-minus);
    letter-spacing: 0.5em;
    white-space: pre;
  }
}

.open {
  transform: none;
}
