.previewContainer {
  margin-top: 2em;
}

.uploadButton {
  width: 25%;
  display: inline-block;
}

.imagePreviewContainer {
  display: inline-block;
  width: 25%;
  vertical-align: top;
  text-align: center;
}

.imagePreview {
  width: 100%;
  margin-bottom: 1em;
}
