.link {
  color: var(--link-color-light);
  padding: 2px 5px;
  letter-spacing: 0.5rem;
}

.loginLink {
  font-family: var(--font-family-base);
  letter-spacing: 0.4rem;
  color: var(--link-color-light);
  padding: 2px 5px;
  font-size: var(--font-size-current-plus);
  display: inline;
  margin: 0;
  background: none;
  border: none;
  width: inherit;
  line-height: inherit;
  cursor: pointer;
  transition: color 0.4s;
}

.link:hover,
.loginLink:hover,
.loginLink:focus {
  color: var(--color-light);
}
